---
// Deutsche Impressum URL liegt jetzt unter /de/impressum/
const target = '/de/impressum/';
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>Weiterleitung</title>
  </head>
  <body>
    <p>Diese Seite ist umgezogen nach <a href={target}>{target}</a>.</p>
    <script is:inline set:html={`location.replace(${JSON.stringify(target)});`}></script>
  </body>
</html>
